extends layout

block script

block content
	include navbar
	.container
		form#list_form(role="search", action='/search', method='post', name='search', enctype="multipart/form-data")
			.form-group
				input#main#srch-term.form-control(type='text', placeholder='Search', name='query', required)
			button.btn.btn-default(type='submit')
				i.glyphicon.glyphicon-search
		.panel-group(style='margin-top:80px;')
			h4 Nothing found.