extends layout

block head
  title uprmbooks
  meta(name='description', content='Encuentra libros usados en el RUM. ¡También Vende los tuyos!')
  meta(property='og:site_name', content='www.uprmbooks.com')
  meta(property='og:title', content='uprmbooks')
  meta(property='og:description', content='Encuentra libros usados en el RUM. ¡También Vende los tuyos!')
  meta(property='og:image', content='http://www.uprmbooks.com/img/logo_fb.png')
  meta(property='og:url', content='http://www.uprmbooks.com/')


block script

block content
    include navbar
    .container
      .btn-group(style='margin-top:20px')
        a.btn.btn-default(href='/books/name') Name
        a.btn.btn-default(href='/books/price') Price
        a.btn.btn-default(href='/books') Date

      form#list_form(role="search", action='/search', method='post', name='search', enctype="multipart/form-data")
          .form-group
              input#main#srch-term.form-control(type='text', placeholder='Search', name='query', required)
          button.btn.btn-default(type='submit')
              i.glyphicon.glyphicon-search
      .panel-group(style='margin-top:80px;')
          include book_list_view