extends layout

block script
	//something goes here
block content
	include navbar
	.container
		table.table.table-striped
			thead
				th Title 
				th Condition 
				th Price
				th Authors
			each book in data
				tr
					td
						p #{book.obj.title}
					td
						p #{book.obj.condition}
					td
						p $#{book.obj.price}
					td
						p #{book.obj.authors}
					td
						a.btn.btn-primary#contact(data-toggle="modal", href='#contactSeller') Contact Seller 
	#contactSeller.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4.modal-title Contact Seller
				.modal-body
					p Please write a message to send for this sellers book.
					textarea.form-control(rows='8')
				.modal-footer
					button.btn.btn-primary(type='button') Send Message
