extends layout

block script
	//something goes here
block content
	include navbar
	.container
		table.table.table-striped
			thead
				th Title 
				th Condition 
				th Price
				th Authors
			each book in data
				tr
					td
						p #{book.obj.title}
					td
						p #{book.obj.condition}
					td
						p #{book.obj.price}
					td
						p #{book.obj.authors}