extends layout

block head
  title uprmbooks
  meta(name='description', content='Encuentra libros usados en el RUM. ¡También Vende los tuyos!')
  meta(property='og:site_name', content='www.uprmbooks.com')
  meta(property='og:title', content='uprmbooks')
  meta(property='og:description', content='Encuentra libros usados en el RUM. ¡También Vende los tuyos!')
  meta(property='og:image', content='http://www.uprmbooks.com/img/logo_fb.png')
  meta(property='og:url', content='http://www.uprmbooks.com/')


block script

block content
  .list_view_container
    include navbar
    .container.list_view_container
      .btn-group(style='margin-top:20px')
        a.btn.btn-default(href='/books/name') Name
        a.btn.btn-default(href='/books') Date

      form#list_form.list_form_inplace
          .form-group
              input#main#srch-term#inplace_search_input.form-control(placeholder='search')
      .panel-group(style='margin-top:34px;')
          include book_list_view