extends layout

block head
  title uprmbooks
  meta(name='description', content='Encuentra libros usados en el RUM. ¡También Vende los tuyos!')
  meta(property='og:site_name', content='www.uprmbooks.com')
  meta(property='og:title', content='uprmbooks')
  meta(property='og:description', content='Encuentra libros usados en el RUM. ¡También Vende los tuyos!')
  meta(property='og:image', content='http://www.uprmbooks.com/img/logo_fb.png')
  meta(property='og:url', content='http://www.uprmbooks.com/')

block content
  include navbar
  //- .container
  #home.container
    center
      img.img-responsive(src='/img/logo_main.png')
      #index_box.container
        form#index_form(role="search", action='/search', method='post', name='search', enctype="multipart/form-data")
          .form-group
            input#main#srch-term.form-control(type='text', placeholder='Busca libros por ISBN, Título o Autor', name='query', required)
          button.btn.btn-default(type='submit')
            i.glyphicon.glyphicon-search
    br

    .row
      .col-sm-4(style='padding-left:0px !important;')
        .steps
          center
            h4 1
          p Para vender, busca la información de tus libros por su
            span.accent  ISBN
          img.isbn(src="/img/isbn.png")
      .col-sm-4.middle(style='padding-left:0px !important;')
        .steps
          center
            h4 2
          p Incluye el
           span.accent  precio
           | , la
           span.accent  condición
           |  y los 
           span.accent  tags 
           | que mejor describen el libro que quieres vender
      .col-sm-4(style='padding-left:0px !important;')
        .steps.social
          center
            h4 3
          p Finalmente añadelos y compartelos en 
            span.accent  Facebook 
            | y 
            span.accent  Twitter.
          img(src="/img/facebook.png")
          img(src="/img/twitter.png")
    .books_all
      center
        a.view_all(href="/books") Ver todos los libros disponibles


  //- #index_box.container
  //-   //- h1 uprmbooks
  //-   center
  //-     //- img.img-responsive(src='/img/logo_main.png')
  //-   h3 Busca libros por ISBN, Título o Autor
  //-   //- .row
  //-   //-   .col-sm-4.col-sm-offset-4
  //-   form#index_form(role="search", action='/search', method='post', name='search', enctype="multipart/form-data")
  //-     .form-group
  //-       input#main#srch-term.form-control(type='text', placeholder='Search', name='query', required)
  //-     button.btn.btn-default(type='submit')
  //-       i.glyphicon.glyphicon-search
  //- script.
  //-   $(document).ready(function(){
  //-     $('#topsearch').hide();
  //-   })
  //- //- include footer
  