extends layout

block head
  title uprmbooks
  meta(name='description', content='Find used textbooks by ISBN, title or author in UPRM')
  meta(property='og:site_name', content='www.uprmbooks.com')
  meta(property='og:title', content='uprmbooks')
  meta(property='og:description', content='Find used textbooks by ISBN, title or author in UPRM')
  meta(property='og:image', content=book.thumbnail)
  meta(property='og:url', content='http://www.uprmbooks.com/book/'+book._id)

block content
  include navbar
  
  #index_box.container
    h1 uprmbooks
    h3 Search textbooks by ISBN, title or author
    //- .row
    //-   .col-sm-4.col-sm-offset-4
    form#index_form(role="search", action='/search', method='post', name='search', enctype="multipart/form-data")
      .form-group
        input#main#srch-term.form-control(type='text', placeholder='Search', name='query', required)
      button.btn.btn-default(type='submit')
        i.glyphicon.glyphicon-search
  script.
    $(document).ready(function(){
      $('#topsearch').hide();
    })
  //- include footer
  