!!! 5
html
	head 
		title uprmbooks
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/style.css')
		link(rel="stylesheet", href="css/bootstrap-glyphicons.css")
		script(src='js/jquery-1.10.2.min.js')
		script(src='js/moment.min.js')
		script(src='js/bootstrap.min.js')
		script(src='js/books.js')
		block head
		block styles
	body
		include book_add
		block content
		

