body{
	font-family: Helvetica;
}
#searchBar{
	text-align: center;
	margin-top: 12%;
}

#searchBar h1{
	font-family: Helvetica;
	font-weight: bolder;
	font-size: 90px;
	color: #156112;
	margin-bottom: 0px;
}

#searchBar h3{
	color: #404040;
	margin-top: 0px;
}


.loginBTN{
	width: 160px;
	padding-left: 0px;	
}

/*profile*/
#profileaccordion{
    max-width: 600px;
    margin: 0 auto;
}

#profileaccordion #collapseTwo .panel-body p a{
	float: right;
}

#profileaccordion #add{
	float: right;
	display: block;
	/*background: green;*/
	margin-top: -9px;
	color: #fff;
}


#profileForm{
	margin: 0 auto;
}

#custom-search-form{
	width: 30%;
}

#custom-search-form input{
	width: 90%;
	float: left;
	box-shadow: none;
}

#custom-search-form button{
	float: right;
	background: none;
	border: 1px #156112 solid;
}

#custom-search-form button:hover{
	background-color: rgba(21,97,18,0.1);
	color: #156112;
}

.navbar{
	border-radius: 0px;
}

.remove_item{
	cursor:pointer;
}

.panel-body p{
	padding-left: 15px;
}

.panel-body img{
	padding-bottom: 20px;
	max-width: 300px;
}

.accordion-toggle p{
	margin-bottom: 0px;
}