body{
	font-family: Helvetica;
}

html, body {
  height: 100% !important;
}
#index_box{
	text-align: center;
	margin-top: 32px;
}

#index_box h1{
	font-family: Helvetica;
	font-weight: bolder;
	font-size: 90px;
	color: #156112;
	margin-bottom: 0px;
}

#index_box h3{
	color: #404040;
	margin-top: 0px;
	/*font-size: 18px;*/
}


.loginBTN{
	width: 160px;
	padding-left: 0px;	
	margin-bottom: 10px;
}

/*profile*/
#profileaccordion{
    max-width: 600px;
    margin: 0 auto;
}

#profileaccordion #collapseTwo .panel-body p a{
	float: right;
}

#profileaccordion #add{
	float: right;
	display: block;
	/*background: green;*/
	margin-top: -9px;
	color: #fff;
}


#profileForm{
	margin: 0 auto;
}

/*#custom-search-form{
	width: 30%;
}
*/
/*#custom-search-form input{
	float: left;
	box-shadow: none;
}

#custom-search-form button{
	float: right;
	background: none;
	border: 1px #156112 solid;
}
*/
/*#custom-search-form button:hover{
	background-color: rgba(21,97,18,0.1);
	color: #156112;
}
*/
.navbar{
	border-radius: 0px;
}

.remove_item{
	cursor:pointer;
}

.panel-body p{
	padding-left: 15px;
}

img.book_thumbnail{
	/*padding-bottom: 20px;*/
	width: 300px;
}

.accordion-toggle p{
	margin-bottom: 0px;
}


/*SINGLE VIEW STYLING*/

#book_singleview img{
	width: 250px;
}

#book_singleview h1{
	margin-bottom: 0px;
}

#book_singleview h3{
	margin-top:4px;
	margin-bottom: 8px;
}

#book_singleview h4{
	margin-top: 30px;
	margin-bottom: 8px;
}


.italic{
	font-style: italic;

}

.not_bold{
	font-weight: normal;
}

td.social_share{
	width: 66px;
}

#index_form{
	width: 360px;
	padding: 0px;
	margin: 0 auto;
	/*margin-top: 50px;*/
	opacity: 0.6;
}

#index_form .form-group{
	width: 310px;
	position: relative;
	float: left;
}

#index_form button{
	position: relative;
	float: right;
}


#list_form{
	width: 300px;
	padding: 0px;
	margin: 0 auto;
	float: right;
	margin-top: 20px;
	opacity: 0.6;
}

#list_form .form-group{
	width: 260px;
/*	position: relative;
*/	float: left;
}

#list_form button{
	/*position: relative;*/
	float: right;
}

@media only screen and (max-width : 360px){
	#index_box{
		margin-left: -10px !important;
		margin-top: 20px !important;
	}
	#index_box h1{
		font-family: Helvetica;
		font-weight: bolder;
		font-size: 50px;
		color: #156112;
		margin-bottom: 0px;
	}
		#index_form{
		width: 280px;
		padding: 0px;
	}
		#index_form .form-group{
		width: 230px;
		position: relative;
		float: left;
	}
	.loginBTN{
		width: 100%;
	}
	.steps{
		width: 280px !important;
	}
	.books_all{
		margin-left: 0px !important;
		margin: 0 auto;
		font-size: 50px !important;
		text-align: center;

	}

	.list_form_inplace{
		width: 290px;
	}
/*	.list_view_container{
		width: 280px;
	}*/
}


html { 
	background: url(/img/bg.jpg) no-repeat center center fixed !important; 
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}
body {
	background:none !important;
}

.navbar-inverse{
	background-color: rgba(34, 34, 34, 0.63) !important;
	border: none;
}

.navbar-inverse .navbar-nav>.open>a{
	background-color: rgba(34, 34, 34, 0.70) !important;
	border: none;
}

.panel{
	background-color: rgba(255, 255, 255, 0.75) !important;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
	color: rgba(255, 255, 255, 0.68) !important;
}

#header_account{
	padding: 15px;
	padding-bottom:10px;
	background-color: rgba(255, 255, 255, .8) !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border:none !important;

}

footer{
	height: 142px;
}
footer ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

footer li{
	display:inline;
	padding-left: 30px;
}

.wrapper{
	min-height: 100%;
	margin-bottom: -142px; 
}

.wrapper:after {
  content: "";
  display: block;
}

#isbn_progress{
	opacity: 0.3;
}


.steps{
	width: 300px;
	height: 320px;
	background: #f3f3f3;
	background: rgba(255,255,255,0.7);
	display: block;
	margin-left: 20px;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.6);
	box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.6);
}

.steps h4{
	text-align: center;
	border-radius: 50%;
	width: 40px;
	height: 40px; 
	display: block;
	background-color: #10743a;
	line-height: 40px;
	color: #fff;
	margin-top: 5px;
	/*position: relative;*/
}

.steps p{
	font-size: 22px;
	text-align: left;
}

.steps .isbn{
	width: 80%;
	/*opacity: 0.7;*/

}



.steps span.accent{
	font-weight: bolder;
	color: #10743a;
}

.steps.social img{
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	width: 75px;
	display: none;
}

@media (min-width: 1200px){
	 #home.container, #index_box.container{
	 	width: 970px !important;
	 }
}

#home.row{
	/*margin-top:100px;*/
}

.books_all{
	margin-top: 50px;
}

.books_all *{
	/*color: gray;*/
	/*opacity: 0.8;*/
	margin: 0 auto;
}

.books_all:hover a{
	text-decoration: none;
}

a.view_all{
	display: block;
	color: white;
	background: #10743a;
	width: 320px;
	height: 46px;
	line-height: 46px;
	border-radius: 8px;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

.feedback_action{
	position: fixed;
	bottom: 10px;
	right: 10px;
	background: #333333;
	color: #fff;
	display: block;
	line-height: 16px;
	border-radius: 4px;
	padding: 6px;
}

.feedback_action:hover{
	color: #10743a;
	text-decoration: none;
	background: #fff;
	cursor: pointer;
}

